<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <title>Movie App</title>
</head>
<body>
    <div class='container'>
        <h1>{{title}}</h1>
        <form action="" method="post">
            <input type="text" placeholder="Movie name" name="" id="first">
            <h3>OR</h3>
            <input type="text" placeholder="IMDB Movie ID" name="" id="second">
            <br>
            <button class="btn">Search</button>
        </form>
        <div id="outer">
            <h1>Movie info</h1>
            <div id='result'></div>
        </div>
    </div>
    <script src="js/index.js"></script>
</body>
</html>